* {
  padding: 0;
  margin: 0;
  color: #fff1ff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pic1 {
  width: 250px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.b {
  color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainhm {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}
.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #282c34; */
  padding: 10px 5px;
  background-color: #f7b904;
}

.nav-items {
  margin: 0px 15px;
  text-decoration: none;
  font-size: 17px;
  color: #fff1ff;
  background-color: #f7b904;
  transition: 0.4s;
  font-family: "Roboto", sans-serif;
}
.nav-items:hover {
  margin: 0px 10px;
  text-decoration: none;
  font-size: 17px;
  color: #fff1ff;
  background-color: #140c04;
  border-radius: 5px;
  padding: 5px;
}
.mheading {
  text-decoration: none;

  background-color: #f7b904 !important;
  font-family: "Bebas Neue", cursive;
}
.navdes {
  background-color: #f7b904 !important;
}
.mheading1 {
  margin-left: 10px;
  font-size: 30px;
  text-decoration: none;
  color: #fff1ff;
  background-color: #f7b904;
}

.main-form {
  margin: 20px 0px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
.formc {
  margin-top: 50px;
  box-shadow: 0px 2px 10px #b00506;
  border-radius: 50px;
}
h2 {
  text-align: center;
  color: #140c04;
  margin: 10px;
}

.des {
  display: flex;
  margin: 10px;
  align-items: center;
}
.deslabel {
  flex-basis: 15%;
  margin-left: 5px;
  color: #140c04;
}
.inp {
  flex-basis: 70%;
  width: 80%;
  margin: 10px 40px;
  padding: 10px;
}

textarea {
  margin-left: auto;
  width: auto;
}
.bce {
  text-align: center;
  padding: 5px;
  background-color: #b00506;
  border-radius: 5px;
  margin: 10px auto;
}

.displayff {
  display: flex;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 9px;
  font-size: 15px;
  background-color: #f7b904;
  font-family: "Roboto", sans-serif;
}
.dflexs {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.card {
  margin: 30px;
  box-shadow: 10px 10px 30px black;
  text-align: center;
  flex-basis: 23%;
}

.text1 {
  font-size: medium;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .df {
    display: block;
  }
  .mheading {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .main-form {
    margin-bottom: 30px;
  }
  .navdes {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  .formc {
    box-shadow: 0px 0px 10px #ffffff;
    margin-bottom: 30px;
    margin-top: 5px;
    box-shadow: 0px 2px 10px #b00506;
  }
  .dflexs {
    margin: 10px 10px 30px 10px;
  }
  .boxi {
    margin-top: 10px;
    padding: 40px 20px !important;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .box1 {
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 40px;
  }
  .box2 {
    margin-top: 30px;
  }
  .mainhm {
    margin-top: 200px;
  }
  .pic1 {
    width: 200px;
  }
  .dflexs {
    width: 95%;
  }
  .card {
    flex-basis: 25%;
    margin-left: auto;
    margin-right: auto;
  }
}

.boxi {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
  box-shadow: 0px 0px 30px #b00506;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

.box1 {
  flex-basis: 50%;
  display: flex;
}
.box2 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  text-align: center;
}
.pic1 {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.about1 {
  margin: 20px;
}
.heading1,
.about1,
.text1 {
  color: #140c04;
}
